
:root { /*stored CSS variables - global*/
    --mw: 8em; /*menu [button] width*/
}

.head {
    height: 6rem;
}

.hm, .tint {
    position: fixed;
    z-index: -100;
}

div.logo_h .img {
    background-size: contain;
}

.logo_h .img, .logo_h.sLd::before, .bt_c {
    height: 2.2rem;
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
}

.logo_h.sLd::before {
    margin-left: 8%;
}

.stroke { /* hamburger-menu button stroke */
    height: 0.12rem;
    margin-bottom: calc((0.85rem - 0.36rem) / 2);
}

.stroke:last-child {
    margin: 0;
}

.bt_c {
    width: 20vw;
    right: 0;
    z-index: 300;
}

#ham_button { /*hamburger-menu button*/
    height: 0.85rem;
    width: 1.25rem;
    padding: 0.675rem 0.475rem;
}

#ham_button.md_a { /*activated on open menu*/
    height: 1.25rem;
    padding: 0.475rem;
}

.bt_h { /*button container*/
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.35rem;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.bt_h:active {
    background-color: #E4E4E4;
}

#ham_button.md_a:active, .hm a:active, #ham-tB_sc a::before {
    background-color: #565656;
}

.hm a {
    width: var(--mw, 8em);
    display: block;
}

#ham_sc a {
    margin: 0 auto;
}

#ham-tB_sc a {
    padding-left: 5%;
}

#ham-tB_sc a::before {
    content: "";
    position: absolute;
    height: 1.65rem;
    margin-top: 1.85rem;
    z-index: -1;
    left: 10%;
    width: 0;
}

@media (hover: hover) { /* additional rules with desktops, with attached cursor pointers */
    #ham-tB_sc a:hover::before {
        width: calc(var(--mw, 8em) / 2); /* half of width */
    }

    #ham-tB_sc a:active {
        background-color: inherit;
    }

    .bt_h.md:hover {
        transition-duration: 0.2s;
        background-color: #565656;
    }
}

#ham_sc .content {
    margin-top: calc((100vh - 7rem) / 2);
}

#ham-tB_sc {
    width: 30%;
    min-width: 15rem;
    right: 0;
}

#ham-tB_sc .content {
    margin-top: 6rem;
}

.hm h5 {
    font-size: 2rem;
    line-height: 1.75em;
}

#ham-tB_sc h5 {
    text-align: left;
}

#ham_sc h5 {
    text-align: center;
}