
/* pwa styles */

.pwa .sections {
    background-color: #F4F4F4;
    height: calc(100vh - 4rem);
}

.pwa .navbar {
    position: absolute;
    bottom: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pwa .navbar .button {
    height: 3rem;
    width: 3rem;
    text-align: center;
}

.pwa .navbar .button .img {
    height: 2rem;
    width: 2rem;
    margin: 0 auto;
}

.pwa .navbar .button .img .active {
    position: absolute;
    z-index: -10;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: #F4F4F4;
}

.pwa .navbar .button p {
    font-size: 0.85rem;
    padding: 0.075rem 0;
    font-weight: bold;
}

.pwa .navbar .button.clicks .img {
    background-image: url("../pwa/clicks.png");
}

.pwa .navbar .button.code .img {
    background-image: url("../pwa/code.png");
}

.pwa .navbar .button.diary .img {
    background-image: url("../pwa/diary.png");
}

.pwa .navbar .button.about .img {
    background-image: url("../pwa/about.png");
}