
/* pwa styles */

.pwa .container {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.pwa .home .wrap {
    width: 4rem;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.pwa .paragraph {
    line-height: 1.5em;
    padding-bottom: 1.5em;
}

.pwa .content h1 {
    line-height: 0.85em;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.pwa .content h2 {
    font-size: 4rem;
}

.pwa .content h5 {
    font-weight: bold;
    line-height: 0.85em;
}

.pwa .content h6 {
    margin-bottom: 1em;
}

.pwa .logo-full {
    background-image: url("../logo/logo_hybrid.png") !important;
    height: 2.5rem;
    margin-bottom: 2rem;
    background-size: contain;
}

.pwa .sections {
    background-color: #F4F4F4;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pwa .home .banner {
    display: flex;
    height: 5rem;
}

.pwa .home .weather {
    width: 7rem;
    margin-right: 1rem;
}

.pwa .home .banner p {
    font-size: 1.5rem;
    padding: 1.75rem 0;
    font-weight: bold;   
    background-color: #FFF;
    text-align: center;
    padding: 0.75rem 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    line-height: 0.85em;
}

.pwa .navbar {
    position: absolute;
    bottom: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
}

.pwa .navbar .button {
    height: 3rem;
    width: 3rem;
    text-align: center;
}

.pwa .navbar .button .img {
    height: 2rem;
    width: 2rem;
    margin: 0 auto;
}

.pwa .navbar .button .img .active {
    position: absolute;
    z-index: -10;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: #F4F4F4;
}

.pwa .navbar .button p {
    font-size: 0.85rem;
    padding: 0.075rem 0;
    font-weight: bold;
}

.pwa .navbar .button.clicks .img {
    background-image: url("../pwa/clicks.png");
}

.pwa .navbar .button.code .img {
    background-image: url("../pwa/code.png");
}

.pwa .navbar .button.diary .img {
    background-image: url("../pwa/diary.png");
}

.pwa .navbar .button.about .img {
    background-image: url("../pwa/about.png");
}