
/* pwa styles */

.pwa .navbar {
    position: absolute;
    bottom: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: red;
}

.pwa .navbar .button {
    height: 4rem;
    width: 3rem;
    text-align: center;
    background: blue;
}

.pwa .navbar .button .img {
    height: 3rem;
}

.pwa .navbar .button p {
    font-size: 0.85rem;
    padding: 0.075rem 0;
}