
/* min size parameters : 240px width, 440px height */

/* max size parameters : 3000px width, 2000px height - error at 3100px width or beyond */


/* responsive - mobile */
@media screen and (min-width: 100px) and (orientation: portrait), screen and (min-height: 100px) and (orientation: landscape) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 150px) and (orientation: portrait), screen and (min-height: 150px) and (orientation: landscape) {
    html {
        font-size: 9px;
    }
}

@media screen and (min-width: 200px) and (orientation: portrait), screen and (min-height: 200px) and (orientation: landscape) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 220px) and (orientation: portrait), screen and (min-height: 220px) and (orientation: landscape) {
    html {
        font-size: 11px;
    }
}

@media screen and (min-width: 250px) and (orientation: portrait), screen and (min-height: 250px) and (orientation: landscape) {
    html {
        font-size: 12px;
    }
}

/* ---------------------------- */

@media screen and (min-width: 250px) and (min-height: 600px) and (orientation: portrait) {
    html {
        font-size: 13px;
    }

    .oe_wd {
        width: 90% !important;
    }
}

/* ---------------------------- */

@media screen and (min-width: 270px) and (orientation: portrait), screen and (min-height: 270px) and (orientation: landscape) {
    html {
        font-size: 13px;
    }
}

/* ---------------------------- */

@media screen and (min-width: 270px) and (min-height: 600px) and (orientation: portrait) {
    html {
        font-size: 14px;
    }

    .oe_wd {
        width: 90% !important;
    }
}

/* ---------------------------- */

@media screen and (min-width: 290px) and (orientation: portrait), screen and (min-height: 290px) and (orientation: landscape) {
    html {
        font-size: 14px;
    }
}

/* ---------------------------- */

@media screen and (min-width: 290px) and (min-height: 600px) and (orientation: portrait) {
    html {
        font-size: 15px;
    }

    .oe_wd {
        width: 90% !important;
    }
}

/* ---------------------------- */

@media screen and (min-width: 310px) and (orientation: portrait), screen and (min-height: 310px) and (orientation: landscape) {
    html {
        font-size: 15px;
    }
}

/* ---------------------------- */

@media screen and (min-width: 310px) and (min-height: 700px) and (orientation: portrait) {
    html {
        font-size: 17px;
    }

    .oe_wd {
        width: 90% !important;
    }
}

/* ---------------------------- */

@media screen and (min-width: 350px) and (orientation: portrait), screen and (min-height: 350px) and (orientation: landscape) {
    html {
        font-size: 17px;
    }
}

@media screen and (min-width: 370px) and (orientation: portrait), screen and (min-height: 370px) and (orientation: landscape) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 400px) and (orientation: portrait), screen and (min-height: 400px) and (orientation: landscape) {
    html {
        font-size: 19px;
    }
}

@media screen and (min-width: 420px) and (orientation: portrait), screen and (min-height: 420px) and (orientation: landscape) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 460px) and (orientation: portrait), screen and (min-height: 460px) and (orientation: landscape) {
    html {
        font-size: 21px;
    }
}

@media screen and (max-height: 500px) and (orientation: landscape), screen and (max-width: 240px) and (max-height: 440px) and (orientation: portrait) {
    #load_icon, #load_text, #load_text_ex {
        display: none;
    }
}

@media screen and (min-height: 500px) and (orientation: landscape) {
    #load_icon, #load_text, #load_text_ex {
        display: inherit;
    }
}

@media screen and (min-width: 240px) and (min-height: 440px) and (orientation: portrait) {
    #load_icon, #load_text, #load_text_ex {
        display: inherit;
    }
}

/* ---------- phablet ---- */ 

@media screen and (min-width: 500px) and (orientation: portrait) {
    html {
        font-size: 22px;
    }

    .mobile {
        display: none;
    }

    .phablet {
        display: block;
    }

    #scrolltop_btn {
        display: none;
    }
}

@media screen and (min-width: 525px) and (orientation: portrait) {
    html {
        font-size: 23px;
    }
}

@media screen and (min-width: 550px) and (orientation: portrait) {
    html {
        font-size: 24px;
    }
}

@media screen and (min-width: 575px) and (orientation: portrait) {
    html {
        font-size: 25px;
    }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
    html {
        font-size: 26px;
    }
}

@media screen and (min-width: 625px) and (orientation: portrait) {
    html {
        font-size: 27px;
    }
}

@media screen and (min-width: 650px) and (orientation: portrait) {
    html {
        font-size: 28px;
    }
}

@media screen and (min-width: 675px) and (orientation: portrait) {
    html {
        font-size: 29px;
    }
}

@media screen and (min-width: 700px) and (orientation: portrait) {
    html {
        font-size: 27px;
    }

    p {
        padding-right: 3em;
    }
}

@media screen and (min-width: 725px) and (orientation: portrait) {
    html {
        font-size: 28px;
    }
}

@media screen and (min-width: 750px) and (orientation: portrait) {
    html {
        font-size: 29px;
    }
}

@media screen and (min-width: 775px) and (orientation: portrait) {
    html {
        font-size: 30px;
    }
}

@media screen and (min-width: 800px) and (orientation: portrait) {
    html {
        font-size: 31px;
    }
}

@media screen and (min-width: 825px) and (orientation: portrait) {
    html {
        font-size: 32px;
    }
}

@media screen and (min-width: 850px) and (orientation: portrait) {
    html {
        font-size: 33px;
    }
}

@media screen and (min-width: 875px) and (orientation: portrait) {
    html {
        font-size: 34px;
    }
}

@media screen and (min-width: 900px) and (orientation: portrait) {
    html {
        font-size: 35px;
    }
}

@media screen and (min-width: 925px) and (orientation: portrait) {
    html {
        font-size: 36px;
    }
}

@media screen and (min-width: 950px) and (orientation: portrait) {
    html {
        font-size: 37px;
    }
}

@media screen and (min-width: 975px) and (orientation: portrait) {
    html {
        font-size: 38px;
    }
}

@media screen and (min-width: 1000px) and (orientation: portrait) {
    html {
        font-size: 39px;
    }
}

@media screen and (min-width: 1025px) and (orientation: portrait) {
    html {
        font-size: 40px;
    }
}




/*special cases: notably folding touch devices*/
/*
@media screen and (min-width: 500px) and (min-height: 700px) and (orientation: portrait) { 
    html {
        font-size: 22px;
    }
}
@media screen and (min-width: 700px) and (min-height: 500px) and (orientation: landscape) { 
    html {
        font-size: 18.5px;
    }
}*/




/* ---------- tablet ---- */ 

@media screen and (min-height: 500px) and (orientation: landscape) {
    html {
        font-size: 22px;
    }

    .mobile {
        display: none;
    }

    .phablet {
        display: none;
    }

    .tablet {
        display: block;
    }

    .head {
        padding-top: 0.5rem;
    }

    .head_b {
        padding-top: 5.5rem;
    }

    #scrolltop_btn {
        display: none;
    }

    #ckA_msg {
        width: 20rem;
    }

    .ham.mini.bt {
        margin-left: calc(20rem - (1.8rem + 2em));
    }

    #ckA_msg .attr {
        padding-left: 1.5rem;
    }

    #net_msg_pill {
        width: 20rem !important;
    }

    #footer_sc, #footer_sc .m_T.ex {
        margin-top: 0;
    }

    #footer_sc .content {
        padding-top: 0 !important;
    }

    #footer_sc h2 {
        display: none;
    }

    #footer_sc .logo-inverse {
        height: 4rem;
        width: 4rem;
    }

    #footer_sc .logo-inverse, #footer_sc .logo-inverse + div {
        margin-left: calc(100% - 4rem);
    }

    #footer_sc .content {
        margin-left: 5% !important;
    }

    #footer_sc p {
        font-size: 0.8rem !important;
    }

    #footer_sc .wrap {
        left: 4.9rem;
        width: calc(100% - 4.9rem);
    }

    #footer_end {
        width: calc(100% - 7rem);
    }

    #footer_sc .img_iconBtn.tablet {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }

    #dw_btn {
        margin-left: 0 !important;
    }

    p {
        padding-right: 2.5em;
    }
}

@media screen and (min-height: 525px) and (orientation: landscape) {
    html {
        font-size: 23px;
    }
}

@media screen and (min-height: 550px) and (orientation: landscape) {
    html {
        font-size: 24px;
    }
}

@media screen and (min-height: 575px) and (orientation: landscape) {
    html {
        font-size: 25px;
    }
}

@media screen and (min-height: 600px) and (orientation: landscape) {
    html {
        font-size: 26px;
    }
}

@media screen and (min-height: 625px) and (orientation: landscape) {
    html {
        font-size: 27px;
    }
}

@media screen and (min-height: 650px) and (orientation: landscape) {
    html {
        font-size: 28px;
    }
}

@media screen and (min-height: 675px) and (orientation: landscape) {
    html {
        font-size: 29px;
    }
}

@media screen and (min-height: 700px) and (orientation: landscape) {
    html {
        font-size: 30px;
    }
}

@media screen and (min-height: 725px) and (orientation: landscape) {
    html {
        font-size: 31px;
    }
}

@media screen and (min-height: 750px) and (orientation: landscape) {
    html {
        font-size: 32px;
    }
}

@media screen and (min-height: 775px) and (orientation: landscape) {
    html {
        font-size: 33px;
    }
}

@media screen and (min-height: 800px) and (orientation: landscape) {
    html {
        font-size: 34px;
    }
}

/* ---------------------- desktop / hybrid ------------------ */

@media screen and (min-width: 1200px) and (min-height: 700px) and (orientation: landscape), screen and (min-height: 800px) and (orientation: landscape) { 
    .desktop, #scrolltop_btn {
        display: block;
    }

    * {
        cursor: none !important;
    }

    a:hover, .hoverB:hover {
        opacity: 0.75;
    }

    .hoverB.revert:hover {
        opacity: 1;
    }
}

@media screen and (min-height: 825px) and (orientation: landscape) {
    html {
        font-size: 35px;
    }
}

@media screen and (min-height: 850px) and (orientation: landscape) {
    html {
        font-size: 36px;
    }
}




/*iPad Pro - portrait 
@media screen and (min-width: 1000px) and (min-height: 1300px) and (orientation: portrait) {
    html {
        font-size: 38px;
    }
}*/




/* ----- laptops (desktop) ----------- */

/* smallest laptops */
/*
@media screen and (min-width: 1200px) and (min-height: 700px) { 
    html {
        font-size: 26px;
    }
}*/

/* 1280px by 800px / 1366px by 768px */
/*
@media screen and (min-width: 1250px) and (min-height: 750px) {
    html {
        font-size: 28px;
    }

    .mobile, .phablet {
        display: none;
    }
    
    .desktop {
        display: block;
    }
}*/

/* 1368px by 912px - Surface Pro 7 */
/*
@media screen and (min-width: 1250px) and (min-height: 850px) {
    html {
        font-size: 33px;
    }
}*/

/*iPad Pro - landscape */
@media screen and (min-width: 1300px) and (min-height: 1000px) and (orientation: landscape) {
    html {
        font-size: 38px;
    }
}

/*1440px by 900px / 1536px by 864px */
@media screen and (min-width: 1400px) and (min-height: 850px) {
    html {
        font-size: 31.5px;
    }
}

/*1600px by 900px */
@media screen and (min-width: 1550px) and (min-height: 850px) {
    html {
        font-size: 32px;
    }
}

/*1680px by 1080px / 1920px by 1080px */
@media screen and (min-width: 1650px) and (min-height: 1000px) {
    html {
        font-size: 40px;
    }
}

/*1920px by 1200px */
@media screen and (min-width: 1900px) and (min-height: 1100px) {
    html {
        font-size: 44px;
    }
}

/*2560px by 1440px */
@media screen and (min-width: 2500px) and (min-height: 1400px) {
    html {
        font-size: 52px;
    }
}

@media screen and (min-width: 2700px) {
    html {
        font-size: 54px;
    }
}

@media screen and (min-width: 2900px) {
    html {
        font-size: 55px;
    }
}