
/*main (common) styling*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

*  {
    user-select: none;
    scrollbar-width: none; /*remove browser scroll bar from display - Firefox support*/
}

*::-webkit-scrollbar {
    width: 0; /*remove browser scroll bar from display - Chrome, Edge, Safari support*/
}

html { /*root element*/
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    width: 100vw; /*takes full dimensions*/
    font-family: "Raleway", "Segoe UI", sans-serif; /*Google Font, installed (offline) font, fallback font*/
    overflow-y: hidden;
}

.ovx-h {
    overflow-x: hidden;
}

.ovy-s {
    overflow-y: scroll;
}

.ovy-h {
    overflow-y: hidden;
}

html, body {
    max-width: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}

h1 {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 2.4rem;
    margin-bottom: 0.7em;
}

h4 {
    /*
    font-size: 1rem;
    letter-spacing: 0.3em;*/
    margin-bottom: 1.2em;
}

h5 {
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 0.4em;
}

h6 {
    /*
    font-size: 1.1rem;
    letter-spacing: 0.15em;*/
    margin-bottom: 0.6em;
}

h4, h6 {
    font-size: 1rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 100;
}

p {
    font-size: 1.4rem;
}

h1, h2, h3, h5, h6, p {
    font-family: "Poppins", "Roboto", sans-serif;
}

.h-f {
    height: 100vh;
}

.h-fp, .img {
    height: 100%;
}

.h-h {
    height: 50%;
}

div {
    width: 100%;
}

.r_wd { /*inherited width*/
    width: inherit;
}

.i_wd, .i_wd.z_wd { /*initial width - default*/
    width: initial;
}

.a_wd, .h_wd-s .a_wd { /*auto width*/
    width: auto;
}

.z_wd { /* zero width*/
    width: 0;
}

.q_wd { /*quarter width*/
    width: 30%;
}

.h_wd, .h_wd-s > div { /*half width*/
    width: 50%;
}

.tq_wd { /*third-quarter width*/
    width: 70%;
}

.c_wd { /*centralised width*/
    width: 80%;
    margin: 0 auto;
}

.o_wd { /*optimal width*/
    width: 80%;
}

.m_wd-15 { /*marginalised width - accounting 15% of margin*/
    width: 85%;
}

.m_wd { /*marginalised width - to account for 10% left margin*/
    width: 90%;
}

.z_O { /*zero opacity*/
    opacity: 0;
}

.z_Ot {
    opacity: 0;
    transform: translateX(-3rem);
}

.z_Oh {
    opacity: 0;
    transform: translateX(30%);
}

.o-img {
    opacity: 0.1;
}

.f_wg-n {
    font-weight: normal;
}

.f_wg-b, .em, .hm h5 {
    font-weight: bold;
}

.fL-r, .h_wd-s div:nth-child(2) {
    float: right;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-origin: border-box;
    z-index: 0;
}

.trs, .trs-p::before, .trs-p::after {
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-delay: 0s;
    transition-property: all;
}

.c_w {
    color: #FFF;
}

.c_d, body {
    color: #303030;
}

.c_t {
    color: transparent;
}

.c_i {
    color: initial;
}

.bC_t {
    background-color: transparent;
}

.bC_d, .in-col, .sLd::before, .cnt.md {
    background-color: #303030;
}

.bC_L, .rv-in-col, .sLd.inC::before, .cnt {
    background-color: #FFF;
}

.in-col {
    padding: 2.5rem 0;
    color: #FFF;
}

.rv-in-col {
    color: #303030;
}

a.md, span.md {
    padding: 0.3em;
    border-radius: 0.2em;
}

.bt:active, a.md_a:active .bt {
    background-color: #E4E4E4;
}

.bt {
    background-color: #F2F2F2;
}

.z_rg { /* zero right offset */
    right: 0;
}

.b-r, .load_r, .e-dt {
    border-radius: 50%;
}

.u-p {
    cursor: pointer;
}

/* ------------- */

#error h4, p {
    line-height: 1.5em;
}

#error h4 {
    font-size: 1.1rem;
    letter-spacing: 0.15em;
}

#error p {
    font-size: 1.8rem;
    margin-bottom: 0.4em;
}

/* -------------- */

.link, .hook {
    margin: 3rem 0;
}

.ex-link {
    margin: 5rem 0;
}

.hook {
    margin-bottom: 6rem;
}

/* --------------- */

.m_z, .text {
    margin: 0;
}

.m_Az, .img_icon {
    margin: 0 auto;
}

.m_L-10 {
    margin-left: 10% !important;
}

.m_L-15 {
    margin-left: 15%;
}

.m_R-10 {
    margin-right: 10%;
}

.m_R-10w {
    margin-right: 10vw;
}

.m_R-15 {
    margin-right: 15%;
}

.m_T {
    margin-top: 1rem;
}

.m_T.ex {
    margin-top: 3rem;
}

.m_B {
    margin-bottom: 1rem;
}

.p_L-10 {
    padding-left: 10% !important;
}

.p_B {
    padding-bottom: 1rem;
}

/* ------------- */

.d_n, .phablet, .desktop { /*display control*/
    display: none;
}

.d_b, .mobile {
    display: block;
}

.d_i, a, .h_wd-s > div {
    display: inline-block;
}

.l_ta {
    text-align: left;
}

.c_ta, #error {
    text-align: center;
}

.r_ta {
    text-align: right;
}

.p-a, .sLd::before {
    position: absolute;
}

.p-r {
    position: relative;
}

.p-s {
    position: static;
}

div.locator_img {
    position: static;
}

.c-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-y {
    top: 50%;
    transform: translateY(-50%);
}

.c-x {
    left: 50%;
    transform: translateX(-50%);
}

/* -------------- */

.text {
    padding: 4rem 0;
}

.text.ex {
    padding-top: 6rem;
}

.text.ex-t {
    padding-top: 10rem;
}

.text.md {
    padding-bottom: 0;
}

/* -------------- */

.sLd::before { /*slide in/out effect*/
    content: "";
    width: 0;
}

/* -------------- */

#loader {
    z-index: 1000;
}

#loader .content {
    width: 8rem;
    height: 8rem;
}

#loader .L_fs { /*loader - full size*/
    width: 7.2rem;
    height: 7.2rem;
}

#loader .L_fb-c { /*loader - full border colour*/
    border-color: #303030;
}

#loader .L_z-br { /*loader - zero border-radius*/
    border-radius: 0;
}

#loader .L_pa { /*loader - pause animation*/
    animation-play-state: paused;
    animation-iteration-count: 0;
}

.load_r { /*animated loading ring(s)*/
    width: 3.2rem;
    height: 3.2rem;
    border: 0.4rem solid transparent;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: load_r;
}

@keyframes load_r {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}

.load_r.pri {
    border-top-color: #303030;
    animation-duration: 0.55s;
}

.load_r.sec {
    border-top-color: #FFF;
    border-left-color: #303030;
    animation-duration: 1s;
}

/* -------------- */

.em a {
    border-bottom: 0.18em solid #303030;
    line-height: 0.9em;
    cursor: pointer;
}

.em a:active {
    color: #B4B4B4;
    border-color: #B4B4B4;
}

.e-dt { /*eye-movement [visual]dots*/
    width: 1rem;
    height: 1rem;
}

/* -------------- */

.dots {
    background-image: url("../ext/svg/dots.svg");
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.img_icon {
    width: 1.8rem;
    height: 1.8rem;
}

.lead_arrow_forward_w_img {
    background-image: url("../svg/lead_arrow_forward_white.svg");
}

.work_w_img {
    background-image: url("../svg/work_white.svg");
}

.school_w_img {
    background-image: url("../svg/school_white.svg");
}

.location_w_img {
    background-image: url("../svg/location_white.svg");
}

/*
.locator_img {
    background-image: url("../svg/locater.svg");
    width: 1.2rem;
    height: 1.2rem !important;
}

.lead_arrow_img {
    background-image: url("../svg/lead_arrow_down.svg");
}

.lead_arrow_forward_img {
    background-image: url("../svg/lead_arrow_forward.svg");
}

.lead_arrow_down_w_img {
    background-image: url("../svg/lead_arrow_down_white.svg");
}

.chevron_right_white_img {
    background-image: url("../svg/chevron_right_white.svg");
}

.addition_img {
    background-image: url("../svg/addition.svg");
}*/

/* -------------- */

.footer {
    border-top: 0.01rem solid #EEE;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.25rem;
}

.footer p {
    margin-right: 5%;
}

.footer .logo {
    width: 4.5em;
    height: 4.5em;
}

.footer .logo, .footer .text {
    margin-top: 1.25em;
}

.footer .copy, .footer .attr {
    margin-bottom: 1em;
}

.footer .text {
    font-size: 1em;
}

.footer .copy {
    margin-top: 0.6em;
    font-size: 0.88em;
}

.footer .attr {
    font-size: 0.8em;
    margin-top: 0.4em;
}

.footer .attr.md {
    font-size: 0.75em;
}

.footer .attr.md_a {
    font-size: 0.6em;
}

.footer a {
    text-decoration: underline;
}

.footer a.logo, .footer p {
    margin-left: 10%;
}

/* -------------- */

.logo-hybrid, .logo-hybrid-inverse {
    background-size: contain;
}

.logo {
    background-image: url("../logo/favicon.png");
}

.logo-hybrid {
    background-image: url("../logo/logo_hybrid.png");
}

.logo-hybrid-inverse {
    background-image: url("../logo/logo_hybrid_inverse.png");
}
