
/*main (common) styling*/

/*@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");*/

@font-face {
    font-family: Poppins;
    src: url("../msc/fonts/poppins/Poppins-Regular.woff2");
    font-display: block;
}

@font-face {
    font-family: Raleway;
    src: url("../msc/fonts/raleway/Raleway-Regular.woff2");
    font-display: block;
}

:root {
    touch-action: pan-x pan-y; /*prevent zoom*/
    height: 100% 
}

:root {
    --negate_col: #A10000;
    --predicate_col: #007000;
    --balanced_col : #22355C;
    --white-alpha-25: rgba(255,255,255,.25);
    --backdrop-filter-blur: blur(5px);
}

*  {
    user-select: none;
    -webkit-user-select: none; /* Safari support */
    scrollbar-width: none; /*remove browser scroll bar from display - Firefox support*/
}

*::-webkit-scrollbar {
    width: 0; /*remove browser scroll bar from display - Chrome, Edge, Safari support*/
}

html {
    font-size: 10px;
}
/*
:root { /*root (html) element
    --doc-height: 100%; 
}*/

.scB {
    scroll-behavior: smooth;
}

.ov-h {
    overflow: hidden;
}

.ovx-h {
    overflow-x: hidden;
}

.ovy-s {
    overflow-y: scroll;
}

.ovy-h {
    overflow-y: hidden;
}

html, body {
    overflow-x: hidden;
    /*overscroll-behavior: none;*/
    overscroll-behavior: contain;
    max-width: 100%;
    /*height: 100vh;*/
    /*height: var(--doc-height);*/
}

body, h1, h2, h3, h4, h5, h6, p, a, ul {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw; /*takes full dimensions*/
    padding: 0;

    padding-top: env(safe-area-inset-top, 0);
    padding-right: env(safe-area-inset-right, 0);
    padding-bottom: env(safe-area-inset-bottom, 0);
    padding-left: env(safe-area-inset-left, 0);

    /*font-family: "Raleway", "Segoe UI", sans-serif; /*Google Font, installed (offline) font, fallback font*/
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
/*
a.n-link {
    border-bottom: 0.15em solid;
}*/

p, h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}

h1, .h1-rep h2 {
    font-size: 2.8rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 3rem;
    margin-bottom: 0.3em;
}

h4 {
    /*
    font-size: 1rem;
    letter-spacing: 0.3em;*/
    margin-bottom: 1.2em;
    font-family: Raleway, sans-serif;
    /*font-family: Raleway;*/
}

h5 {
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 0.4em;
}

.hm h5 {
    font-size: 2rem;
}

h6 {
    /*
    font-size: 1.1rem;
    letter-spacing: 0.15em;*/
    margin-bottom: 0.6em;
}

h4, h6 {
    font-size: 1rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 100;
}

p {
    font-size: 1.2rem;
}

p, ul {
    padding-right: 2em;
    padding-bottom: 1em;
}

ul {
    margin-left: 1.5em;
}

h1, h2, h3, h5, h6, p, ul, h4.revert {
    font-family: Poppins, sans-serif;
}

#scrollBar {
    width: 0.1rem;
    height: 4rem;
    position: fixed;
    right: 0.1rem;
    background: #a1a1a1;
    z-index: 100000;
    mix-blend-mode: exclusion;
    border-radius: 1rem;
}

.cursor {
    pointer-events: none;
    mix-blend-mode: exclusion;
}

.cursor.big {
    width: 0.6rem;
    height: 0.6rem;
    border: 0.05rem solid #303030;
}

.cursor.big.extra {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid #303030
}

.cursor.small {
    width: 0.3rem;
    height: 0.3rem;
    transition-property: opacity !important;
}

/* --------------------------------------------- */

/* REFERENCE: https://developer.chrome.com/blog/overscroll-behavior */

body.refreshing {
    touch-action: none; /* prevent scrolling */
}
/*
body.refreshing .puller {
    visibility: visible;
}*/

body.refreshing .puller.shrink {
    transform: scale(0);
    opacity: 0;
}

.puller, .pullerRefresher {
    pointer-events: none;
    background: #fff;
    position: absolute;
    transition: all 300ms cubic-bezier(0,0,0.2,1);
    will-change: transform, opacity;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.puller {
    z-index: 10000;
    border-radius: 3rem;
    text-align: center;
    width: 11rem;
    height: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0.47rem 1.41rem;
    left: calc(50% - 11rem / 2);
    top: -1rem;
}

.pullerRefresher {
    height: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
}
/*
.puller {
    visibility: hidden;
    /*
    --refresh-width: 3rem;
    width: var(--refresh-width);
    height: var(--refresh-width);
    border-radius: 50%; 
    left: calc(50% - var(--refresh-width) / 2);
    padding: 0.5rem;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.14), 0 0.06rem 0.3rem 0 rgba(0, 0, 0, 0.12), 0 0.18rem 0.06rem -0.12rem rgba(0, 0, 0, 0.2);
}

.puller.done {
    transition: none;
}*/

.loading-bar {
    width: 0.24rem;
    height: 1.06rem;
    border-radius: 0.24rem;
    animation: loading 1s ease-in-out infinite;
    /*background-color: #303030;*/
}

.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0s;
}

.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}

.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1,2.2);
    }
    40% {
        transform: scale(1);
    }
}

/* --------------------------------------------- */

.rSpace {
    padding-right: 1em;
}

.compact {
    letter-spacing: 0;
}

.copy {
    font-size: 1.1rem !important;
}

.attr {
    font-size: 0.85rem !important;
}

.text_overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.t-u, #footer_blurb a, #mid_tablet_sc a {
    text-decoration: underline;
}

.e_wS { /* word typing effect cursor stroke */
    width: 0.15rem;
    height: 1.8rem;
}

.e_wSe {
    width: 0.2rem;
    height: 3rem;
}

/*
.h-d {
    height: var(--doc-height);
}*/

.h-hva {
    height: 25vh;
}

.h-hv {
    height: 50vh;
}

.h-hvh {
    height: 75vh;
}

.h-svh {
    height: 100svh;
}

.h-f, .tint {
    height: 100vh;
}

.h-fhh {
    height: 125vh;
}

.h-fh {
    height: 150vh;
}

.h-fd {
    height: 200vh;
}

.h-fp, .img, .error_main > div {
    height: 100%;
}

.h-h {
    height: 50%;
}

.h-s {
    height: 1rem;
}

.h-z {
    height: 0;
}

.w-s {
    width: 1rem;
}

div, .tint {
    width: 100%;
}

.r_wd { /*inherited width*/
    width: inherit;
}

.i_wd, .i_wd.z_wd { /*initial width - default*/
    width: initial;
}

.a_wd, .h_wd-s .a_wd { /*auto width*/
    width: auto;
}

.z_wd { /* zero width*/
    width: 0;
}

.f_wd { /*fifth width*/
    width: 20%;
}

.q_wd { /*quarter width*/
    width: 30%;
}

.h_wd, .h_wd-s > div { /*half width*/
    width: 50%;
}

.tq_wd { /*third-quarter width*/
    width: 70%;
}

.c_wd { /*centralised width*/
    width: 80%;
    margin: 0 auto;
}

.o_wd { /*optimal width*/
    width: 80% !important;
}

.oe_wd {
    width: 85% !important;
}

.m_wd-15 { /*marginalised width - accounting 15% of margin*/
    width: 85%;
}

.m_wd { /*marginalised width - to account for 10% left margin*/
    width: 90%;
}

.m_wd-7_5 { /*marginalised width - to account for 7.5% left margin*/
    width: 92.5%;
}

.z_Os {
    opacity: 0 !important;
    transition-duration: 0s !important;
}

.z_O, .tint.md { /*zero opacity*/
    opacity: 0 !important;
}

.z_F {
    opacity: 1 !important;
}

.tint {
    opacity: 0.85;
}

.tint.a {
    opacity: 0.3;
}

.up, .left, .msg.down, .z_Ot, .z_Oh {
    opacity: 0;
}

.z_Ot {
    transform: translateX(3rem);
}

.z_Oh {
    transform: translateX(30%);
}

.o-img {
    opacity: 0.1;
}

.lh-ex, li {
    line-height: 1.5em !important;
}

.key-sm {
    position: relative;
    top: -0.15rem;
    margin-left: 0.2em;
    margin-right: 0.1em;
}

.f_wg-n {
    font-weight: normal;
}

.f_wg-b, .em, .hm h5, .pill h4, .pill h5, .action, #navbar h5, #footer_blurb a, #mid_tablet_sc a {
    font-weight: bold;
}

h4.revert { /* h4 styling revert */
    text-transform: lowercase;
    letter-spacing: normal !important;
}

#navbar a {
    margin: 1.25rem 0;
    margin-right: 1rem;
    width: 4rem;
}

#navbar h5 {
    font-size: 1.2rem;
    padding: 0.65rem 0;
}

#navbar .wrap {
    width: 20rem;
    margin-left: calc(100vw - 24rem);
    top: -0.5rem;
}

.fL-r, .h_wd-s div:nth-child(2) {
    float: right;
}

.fL-f {
    float: left;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-origin: border-box;
    z-index: 0;
}

.trs, .trs_e.trs_md {
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-delay: 0s;
    transition-property: all;
}

.trs_e {
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;   
}

.trs_eo {
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-property: all;   
}

.trs_linear {
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;  
}

.c_w {
    color: #FFF;
}

.c_d, .hm, body {
    color: #303030;
}

.c_t {
    color: transparent;
}

.c_i {
    color: initial;
}

.c_n {
    color: var(--negate_col);
}

.bC_t {
    background-color: transparent;
}

.bC_d, .in-col, .cnt.md, .tint {
    background-color: #303030;
}

.bC_e {
    background-color: #000;
}

.bC_L, .hm, .rv-in-col, .cnt, .error_main > div {
    background-color: #FFF;
}

.bC_m {
    background: #E4E4E4;
}

.bC_mL {
    background: #FAFAFA;
}

.bC_mLL {
    background: #F3F3F3;
}

.bC_mLLL {
    background: #F6F6F6;
}

.bC_mLLLL {
    background: #FBFBFB;
}

.in-col {
    padding: 2.5rem 0;
    color: #FFF;
}

.rv-in-col {
    color: #303030;
}
/*
a.md, span.md {
    padding: 0.3em;
    border-radius: 0.2em;
}

.bt:active {
    background-color: #E4E4E4;
}

.bt.md:active {
    background-color: #565656;
}

.bt {
    background-color: #F2F2F2;
}*/

.z_rg { /* zero right offset */
    right: 0;
}

.b-r, .e-dt {
    border-radius: 50%;
}

.b-rz {
    border-radius: 0.5rem;
}
/*
.u-p {
    cursor: pointer;
}

.u-d {
    cursor: default;
}*/

/* -------------- */
/*
.link, .hook {
    margin: 3rem 0;
}

.ex-link {
    margin: 5rem 0;
}

.hook {
    margin-bottom: 6rem;
}*/

/* --------------- */

.m_z, .text, .hm h5 {
    margin: 0;
}

.m_z {
    margin: 0 !important;
}

.m_Az, .img_icon {
    margin: 0 auto;
}

.m_L-1 {
    margin-left: 1em !important;
}

.m_L-2 {
    margin-left: 2em !important;
}

.m_L-3 {
    margin-left: 3em !important;
}

.m_L-5 {
    margin-left: 5% !important;
}

.m_L-7_5 {
    margin-left: 7.5% !important;
}

.m_L-10 {
    margin-left: 10% !important;
}

.m_L-15 {
    margin-left: 15%;
}

.m_L-20 {
    margin-left: 20% !important;
}

.m_R-1 {
    margin-right: 1rem;
}

.m_R-10 {
    margin-right: 10%;
}

.m_R-10w {
    margin-right: 10vw;
}

.m_R-15 {
    margin-right: 15%;
}

.m_T {
    margin-top: 1rem;
}

.m_Te {
    margin-top: 1em;
}

.m_T.h {
    margin-top: 1.5rem;
}

.m_T.exh {
    margin-top: 2rem;
}

.m_T.ex {
    margin-top: 3rem;
}

.m_T.ult {
    margin-top: 5rem;
}

.m_B.z, .p_Bz.md {
    margin-bottom: 0;
}

.m_B.h {
    margin-bottom: 0.5rem;
}

.m_B {
    margin-bottom: 1rem;
}

.m_B.ex {
    margin-bottom: 1.5rem;
}

.m_B.exh {
    margin-bottom: 2rem;
}

.p_z {
    padding: 0 !important;
}

.p_TB {
    padding: 1em 0;
}

.p_TBm {
    padding: 1em 0 1.5em;
}

.p_TBh {
    padding: 0.8em 0;
}

.p_L-10 {
    padding-left: 10% !important;
}

.p_T {
    padding-top: 1rem !important;
}

.p_T.ex {
    padding-top: 2rem !important;
}

.p_T.exX {
    padding-top: 3rem !important;
}

.p_T.ult_h {
    padding-top: 5rem !important;
}

.p_T.ult {
    padding-top: 10rem !important;
}

.p_B {
    padding-bottom: 1rem !important;
}

.p_Bdh {
    padding-bottom: 1.5rem !important;
}

.p_Bd {
    padding-bottom: 2rem !important;
}

.p_Bdx {
    padding-bottom: 3rem !important;
}

.p_Bdxx {
    padding-bottom: 4rem !important;
}

.p_B3x {
    padding-bottom: 5rem !important;
}

.p_Bh {
    padding-bottom: 0.5em !important;
}

.p_Bz {
    padding-bottom: 0;
}

/* ------------- */

.v_n {
    visibility: hidden;
}

.v_s {
    visibility: visible;
}

.d_n {
    display: none !important;
}

.phablet, .tablet, .desktop { /*display control*/
    display: none;
}

.d_b, .mobile {
    display: block;
}

.d_i, a, .h_wd-s > div {
    display: inline-block;
}

.l_ta {
    text-align: left;
}

.c_ta, .pill, .error_main, #load_sc, #navbar a {
    text-align: center;
}

.r_ta {
    text-align: right;
}

.p-a, #load_sc, #display_sc, .load_r, .loader .wrap {
    position: absolute;
}

.p-f, .hm, .tint, .error_main {
    position: fixed;
}

.p-r, .link, #load_text {
    position: relative;
}

.p-s {
    position: static;
}

.b-z {
    bottom: 0;
}
/*
div.locator_img {
    position: static;
}*/

.c-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-y {
    top: 50%;
    transform: translateY(-50%);
}

.c-x {
    left: 50%;
    transform: translateX(-50%);
}

.z-R {
    z-index: 0;
}

.z-G {
    z-index: -10;
}

.z-N {
    z-index: 10;
}

.z-F {
    z-index: 500;
}

.z-K {
    z-index: 1000;
}

.z-Kk {
    z-index: 1500;
}

.z-T {
    z-index: 2000;
}

.z-Te {
    z-index: 2500;
}

.z-I {
    z-index: 3000;
}

.z-A {
    z-index: 5000;
}

.z-P {
    z-index: 10000;
}

/* -------------- */

.text {
    padding: 4rem 0;
}

.text.ex {
    padding-top: 6rem;
}

.text.ex-t {
    padding-top: 10rem;
}
/*
.text.md {
    padding-bottom: 0;
}*/

/* -------------- */

.sLd::before { /*slide in/out effect*/
    content: "";
    width: 0;
}

/* -------------- */

.em a {
    border-bottom: 0.18em solid #303030;
    line-height: 0.9em;
    /*cursor: pointer;*/
}

.em a:active {
    color: #B4B4B4;
    border-color: #B4B4B4;
}

.e-dt { /*eye-movement [visual]dots*/
    width: 1rem;
    height: 1rem;
}

/* -------------- */

.dots {
    background-image: url("../ext/svg/dots.svg");
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
/*
#net_msg {
    top: calc(100vh - 2em - 1.5rem - 1.5em);
}*/

.up {
    transform: translateY(-30%);
}

.up.ex {
    transform: translateY(-100%);
}

.left {
    transform: translateX(-2vw);
}

.msg.down {
    transform: translateY(30%);
}

.msg.down.c-x {
    transform: translateY(30%) translateX(-50%);
}

.pill {
    width: 8em;
    height: 2em;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

.pill.msg_m {
    text-align: left;
    height: 1.5rem;
}

.pill.msg_m.md {
    height: 4rem;
}

.pill.msg_m h5 {
    font-size: 1.5rem;
    top: -0.2rem;
}

.pill h4 {
    padding: 0.5em 0;
}

.link {
    width: 0.1em;
}

.link_h {
    height: 0.1em;
}

.img_icon, #js_message_dot, #load_dot {
    width: 1.8rem;
    height: 1.8rem;
}

.img_icon.md {
    width: 1.5rem;
    height: 1.5rem;
}

.img_icon.ex-s {
    width: 1.1rem;
    height: 1.1rem;
}

.img_iconBtn {
    height: 1.8rem;
    width: 1.8rem;
    padding: 0.6rem;
    margin: 1rem 0;
}

a + .lead_arrow_forward_img, a + .lead_arrow_forward_w_img {
    top: 0.3rem;
    transform: rotate(-45deg);
}

.lead_arrow_forward_img {
    background-image: url("../svg/lead_arrow_forward.svg");
}

.lead_arrow_forward_w_img {
    background-image: url("../svg/lead_arrow_forward_white.svg");
}

.work_img {
    background-image: url("../svg/work.svg");
}

.work_w_img {
    background-image: url("../svg/work_white.svg");
}

.school_img {
    background-image: url("../svg/school.svg");
}

.school_w_img {
    background-image: url("../svg/school_white.svg");
}

.location_img {
    background-image: url("../svg/location.svg");
}

.location_w_img {
    background-image: url("../svg/location_white.svg");
}

.chevron_down_img {
    background-image: url("../svg/chevron_down.svg");
}

.chevron_down_w_img {
    background-image: url("../svg/chevron_down_white.svg");
}

.dark_mode_img {
    background-image: url("../svg/dark_mode.svg");
}

.light_mode_img {
    background-image: url("../svg/light_mode.svg");
}

.scrolltop_img {
    background-image: url("../svg/scrolltop.svg");
}

.scrolltop_w_img {
    background-image: url("../svg/scrolltop_white.svg");
}

.download_img {
    background-image: url("../svg/download.svg");
}

.download_w_img {
    background-image: url("../svg/download_white.svg");
}

.lightbulb_img {
    background-image: url("../svg/light_bulb.svg");
}

.lightbulb_w_img {
    background-image: url("../svg/light_bulb_white.svg");
}

.cloud_img {
    background-image: url("../svg/cloud.svg");
}

.forest_img {
    background-image: url("../svg/forest.svg");
}

.nature_img {
    background-image: url("../svg/nature.svg");
}

.landscape_img {
    background-image: url("../svg/landscape.svg");
}

.apartment_img {
    background-image: url("../svg/apartment.svg");
}

.store_img {
    background-image: url("../svg/store.svg");
}

.bicycle_img {
    background-image: url("../svg/bicycle.svg");
}

.van_img {
    background-image: url("../svg/van.svg");
}

.truck_img {
    background-image: url("../svg/truck.svg");
}

.plane_img {
    background-image: url("../svg/plane.svg");
}

.coffee_w_img {
    background-image: url("../svg/coffee_white.svg");
}

.time_w_img {
    background-image: url("../svg/time_white.svg");
}

.distance_w_img {
    background-image: url("../svg/distance_white.svg");
}

.info_w_img {
    background-image: url("../svg/info_white.svg");
}

.cookies_w_img {
    background-image: url("../svg/cookies_white.svg");
}

.wifi_img {
    background-image: url("../svg/wifi.svg");
}

.wifi_w_img {
    background-image: url("../svg/wifi_white.svg");
}

.wifi_off_img {
    background-image: url("../svg/wifi_off.svg");
}

.wifi_slow_img {
    background-image: url("../svg/wifi_slow.svg");
}

.wifi_find_img {
    background-image: url("../svg/wifi_find.svg");
}

.timeout_img {
    background-image: url("../svg/timeout.svg");
}

.cache_img {
    background-image: url("../svg/cache.svg");
}

.abort_img {
    background-image: url("../svg/abort.svg");
}

.wifi_off_w_img {
    background-image: url("../svg/wifi_off_white.svg");
}

.full_img {
    background-image: url("../svg/full.svg");
}

.head {
    position: absolute;
    height: 5rem;
    padding-top: 2rem;
}

.head_b {
    padding-top: 7rem;
}

.head .bt {
    margin-left: calc(100vw - (5rem + 1.5rem));
}

.ham.bt {
    width: 2.5rem;
    height: 1.85rem;
    padding: 1.575rem 1.25rem;
}

.ham.mini.bt {
    width: 1.8rem;
    height: 0.2rem;
    padding: 1.75rem 1em 1.5rem;
    margin-left: calc(100vw - (1.8rem + 2em));
}

.ham .stroke {
    width: 2.5rem;
    height: 0.35rem;
    margin-bottom: 0.4rem;
    border-radius: 1rem;
}

.ham.mini .stroke {
    width: 1.8rem;
    height: 0.2rem;
    margin-bottom: 0;
}

.ham_auto { /* dark mode 'auto' label */
    width: 3rem;
    bottom: 4rem;
}

.tablet .ham_auto {
    width: 2rem;
    bottom: 3.75rem;
    margin-left: calc(100vw - 3.25rem);
}

.tablet .ham_auto .attr {
    font-size: 0.5rem !important;
}

.print_sc {
    display: none;
}
/* ------------- */

.pill.negate, .neg {
    background-color: var(--negate_col);
}

.action.negate {
    color: var(--negate_col);
}

.pill.predicate {
    background-color: var(--predicate_col);
}

.pill.balanced {
    background-color: var(--balanced_col);
}

/* ------------- */

#cond_sc .stroke:first-child {
    transform: translateY(0.75rem) rotate(45deg);
}

#cond_sc .stroke:last-child {
    transform: rotate(-45deg);
}

#ckA_msg {
    border-top: 0.2rem solid #303030;
}

/* ------------- */

.error_main h4, .error_main p, p.error {
    padding: 0 0.5em;
}

.error_main h4 {
    font-size: 1.1rem;
    line-height: 1.5em;
    letter-spacing: 0.15em;
    margin-bottom: 0;
}

.error_main p {
    line-height: 1.4em;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
}

.err_t {
    font-size: 0.9rem !important;
    margin-top: 0.5rem;
    color: var(--negate_col);
}

.err_t.md {
    color: var(--predicate_col);
}

#error_js {
    background-color: var(--negate_col);
}

/* -------------- */

.aniM {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.aniM-f {
    animation-iteration-count: 1;
}

.aniM-p {
    animation-play-state: paused;
}

.load_r, #load_dot {
    animation-duration: 1s;
}

#load_dot {
    animation-name: load_dot;
    opacity: 0.5;
}

#js_message_dot {
    background-color: #303030;
    opacity: 1;
}

#load_dot.md, .dot_negate {
    background-color: var(--negate_col);
    opacity: 1;
}

#load_dot.e {
    background-color: var(--predicate_col);
    opacity: 1;
}

#load_text {
    top: 9rem;
}

@keyframes load_dot {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

#load_sc .container {
    width: 8rem;
    height: 8rem;
}

#load_sc .wrap {
    margin: 2rem;
}

#load_sc .load_r, #load_sc .template {
    width: 3.2rem;
    height: 3.2rem;
    border-width: 0.4rem;
    border-style: solid;
    border-radius: 50%;
}

.loader .wrap {
    animation-name: load_rotate;
    animation-duration: 0.8s;
}

@keyframes load_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.load_r {
    border-color: transparent;
    border-top-color: #303030;
    animation-timing-function: ease-in-out;
}

.load_r:first-child { /*loading ring - primary*/
    animation-name: loadR_transverse;
}

.load_r:last-child { /*loading ring - secondary*/
    animation-name: loadR_transverse_rev;
}

@keyframes loadR_transverse { /*linked to #loadR-p*/
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes loadR_transverse_rev { /*linked to #loadR-s*/
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes loadR_end { /*linked to #loadR-e*/
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}







#loader .L_fs { /*loader - full size*/
    width: 7.2rem;
    height: 7.2rem;
}

#loader .L_fb-c { /*loader - full border colour*/
    border-color: #303030;
}

#loader .L_z-br { /*loader - zero border-radius*/
    border-radius: 0;
}

#loader .L_pa { /*loader - pause animation*/
    animation-play-state: paused;
    animation-iteration-count: 0;
}

/*
@keyframes load_rP {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37.5% {
        /*transform: rotate(180deg);
        transform: rotate(270deg);
    }
    50% {
        /*transform: rotate(180deg);
        transform: rotate(270deg);
    }
    62.5% {
        /*transform: rotate(270deg);
        transform: rotate(450deg);
    }
    75% {
        /*transform: rotate(270deg);
        transform: rotate(450deg);
    }
    87.5% {
        /*transform: rotate(360deg);
        transform: rotate(630deg);
    }
    93.75% {
        transform: rotate(630deg);
    }
    100% {
        /*transform: rotate(360deg);
        transform: rotate(720deg);
    }
    
}

@keyframes load_rS {
    
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(0deg);
    }
    25% {
        /*transform: rotate(95deg)
        transform: rotate(180deg);
    }
    37.5% {
        /*transform: rotate(95deg);
        transform: rotate(180deg);
    }
    50% {
        /*transform: rotate(185deg);
        transform: rotate(360deg);
    }
    62.5% {
        /*transform: rotate(185deg);
        transform: rotate(360deg);
    }
    75% {
        /*transform: rotate(275deg);
        transform: rotate(540deg);
    }
    87.5% {
        /*transform: rotate(275deg);
        transform: rotate(540deg);
    }
    93.75% {
        transform: rotate(720deg);
    }
    100% {
        /*transform: rotate(365deg);
        transform: rotate(720deg);
    }
}*/

/* -------------- */

#footer_sc .wrap {
    position: relative;
    left: 7.32rem;
    width: calc(100% - 7.32rem);
}

#footer_sc .wrap p {
    padding-bottom: 0.5em !important;
}

#footer_sc .love_w_img {
    top: 0.1em;
    width: 1em;
    height: 1em;
}

#footer_blurb p, #mid_tablet_sc p {
    padding-bottom: 0.5em;
    margin-left: 10%;
}

#mid_tablet_sc p {
    font-size: 1rem;
}

#footer_sc .img_iconBtn.tablet {
    display: none;
}

#footer_end {
    width: calc(100% - 4rem);
}

#scrolltop_btn {
    display: inline-block;
    margin: 0;
}

/* ------------- */
/*
.footer {
    border-top: 0.01rem solid #EEE;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.25rem;
}

.footer p {
    margin-right: 5%;
}

.footer .logo {
    width: 4.5em;
    height: 4.5em;
}

.footer .logo, .footer .text {
    margin-top: 1.25em;
}

.footer .copy, .footer .attr {
    margin-bottom: 1em;
}

.footer .text {
    font-size: 1em;
}

.footer .copy {
    margin-top: 0.6em;
    font-size: 0.88em;
}

.footer .attr {
    font-size: 0.8em;
    margin-top: 0.4em;
}

.footer .attr.md {
    font-size: 0.75em;
}

.footer .attr.md_a {
    font-size: 0.6em;
}

.footer a {
    text-decoration: underline;
}

.footer a.logo, .footer p {
    margin-left: 10%;
}*/

/* -------------- */

.profile_image {
    background-image: url("../ext/jpg/ivan_profile.jpg");
}

.logo-hybrid, .logo-hybrid-inverse {
    background-size: contain;
}
/*
.logo {
    background-image: url("../logo/favicon.png");
}*/

.logo-inverse, .logo-inverse + div, .logo-inverse-dark, .logo-inverse-dark + div {
    margin-left: calc(100% - 6rem);
}

.logo-inverse, .logo-inverse-dark {
    width: 6rem;
    height: 6rem;
}
/*
.logo-inverse {
    background-image: url("../logo/favicon_inverse.png");
    width: 2.5rem;
    height: 2.5rem;
}*/

.logo-hybrid {
    background-image: url("../logo/logo_hybrid.png") !important;
}

.logo-hybrid-inverse {
    background-image: url("../logo/logo_hybrid_inverse.png") !important;
}

.logo-inverse-dark {
    background-image: url("../logo/favicon_dark_512.png") !important;
}

.signature, .signature_w {
    background-position: center;
    width: 6rem;
    height: 5rem;
}

.signature {
    background-image: url("../ext/png/signature.png");
}

.signature_w {
    background-image: url("../ext/png/signature_white.png");
}

/* --------------------- */

.lightBackground.shade {
    background-color: #3D3D3D !important;
}
