
/* REFERENCE: https://codepen.io/semajtwin/pen/NxzOza?editors=1100 @ James Grima */

.weather-container {
	width: 100%;
	margin: 0 auto;
}
.weather-container:after {
	content: "";
	display: table;
	clear: both;
}
.weather-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
 .weather-container ul li .icon-container {
	background: #46b7e0;
	float: left;
	text-align: center;
	position: relative;
	overflow: hidden;
	width: 2rem;
    height: 2rem;
    padding: 0.35rem 0.5rem;
    margin: calc((5rem - 2.7rem) / 2) 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.weather-container ul li .icon-container.mostly-sunny .cloud, .weather-container ul li .icon-container.isolated-clouds .cloud {
	transform: scale(0.45);
	position: absolute;
	top: 1.5rem;
	left: 0.5rem;
	background-color: white;
}
.weather-container ul li .icon-container.mostly-sunny .shadow, .weather-container ul li .icon-container.isolated-clouds .shadow {
	position: absolute;
	top: 1.48rem;
	left: -0.96rem;
	height: 0.64rem;
}
 .weather-container ul li .icon-container.night {
	 background: #7b3463;
}
 .weather-container ul li .icon-container.night .moon-mask {
	 background: #7b3463;
}
 .weather-container ul li .icon-container.bad-weather {
	 background: #b1b2bf;
}
.weather-container ul li .icon-container.partly-cloudy .cloud {
	transform: scale(0.75);
	position: absolute;
	left: 0.78rem;
	top: 1.24rem;
	background-color: white;
}
.weather-container ul li .icon-container.partly-cloudy .sun .shadow {
	position: absolute;
	top: 1.2rem;
	left: -0.28rem;
	height: 0.9rem;
}
 .weather-container ul li .icon-container.partly-cloudy .moon .shadow {
	 position: absolute;
	 top: 1.2rem;
	 left: -0.28rem;
	 height: 0.9rem;
}
.weather-container ul li .icon-container.mostly-cloudy .sun {
	transform: scale(0.5);
	position: absolute;
	top: 0rem;
	left: 0.9rem;
}
 .weather-container ul li .icon-container.mostly-cloudy .moon {
	 transform: scale(0.5) rotate(-5deg);
	 position: absolute;
	 top: -0.2rem;
	 left: 1.1rem;
}
.weather-container ul li .icon-container.mostly-cloudy .cloud {
	position: absolute;
	top: 1.5rem;
	left: 50%;
	background: white;
	transform: translate(-30%, -50%);
}
.weather-container ul li .icon-container.cloudy .cloud {
	position: absolute;
	background: white;
	top: 1.5rem;
	left: 50%;
	transform: translate(-30%, -50%);
}
.weather-container ul li .icon-container.snowy .cloud {
	position: absolute;
	background: white;
	top: 0.85rem;
	left: 50%;
	transform: translate(-30%, 0%) scale(0.9);
}
 .weather-container ul li .icon-container.snowy .snow {
	 position: absolute;
	 background: white;
}
.weather-container ul li .icon-container.snowy .snow:first-child {
	top: 1.78rem;
	left: 1.2rem;
	transform: scale(0.7);
}
.weather-container ul li .icon-container.snowy .snow:nth-child(2) {
	top: 1.61rem;
	left: 1.8rem;
	transform: scale(0.35);
}
.weather-container ul li .icon-container.rain.mostly-cloudy .sun {
	top: -0.1rem;
}
 .weather-container ul li .icon-container.rain.snowy .snow {
	 transform: scale(0.7);
	 top: 1.8rem;
	 left: 1.2rem;
}
 .weather-container ul li .icon-container.rain.snowy .rain-drop {
	 top: 1.52rem;
	 left: 1.4rem !important;
}
 .weather-container ul li .icon-container.rain.snowy .rain-snow {
	 position: absolute;
	 transform: scale(0.25);
	 top: 1.88rem;
	 left: 1.4rem;
}
 .weather-container ul li .icon-container.rain.sleet-weather .rain-snow {
	 transform: scale(0.25);
	 position: absolute;
	 top: 1.54rem;
	 left: 0.5rem;
}
 .weather-container ul li .icon-container.rain.sleet-weather .sleet {
	 position: absolute;
}
 .weather-container ul li .icon-container.rain.sleet-weather .sleet:first-child {
	 top: 1.92rem;
	 left: 1.28rem;
	 height: 0.48rem;
	 width: 0.08rem;
}
 .weather-container ul li .icon-container.rain.sleet-weather .sleet:last-child {
	 top: 1.92rem;
	 left: 1.78rem;
	 height: 0.4rem;
	 width: 0.08rem;
}
.weather-container ul li .icon-container.rain .cloud {
	position: absolute;
	background: white;
	top: 0.85rem;
	left: 50%;
	transform: translate(-30%, 0%) scale(0.9);
}
 .weather-container ul li .icon-container.rain .rain-drop {
	 position: absolute;
	 transform: scale(0.25);
}
.weather-container ul li .icon-container.rain .rain-drop:first-child {
	top: 1.52rem;
	left: 0.68rem;
}
.weather-container ul li .icon-container.rain .rain-drop:nth-child(2) {
	top: 1.92rem;
	left: 49%;
	transform: translate(-50%, 0) scale(0.25);
}
.weather-container ul li .icon-container.rain .rain-drop:nth-child(3) {
	top: 1.52rem;
	left: 1.3rem;
}
 .weather-container ul li .icon-container.thunderstorms .lightning {
	 position: absolute;
	 top: 1.3rem;
	 left: 1.1rem;
	 transform: scale(0.5);
}
 .weather-container ul li .icon-container.thunderstorms .rain-drop:nth-child(odd) {
	 left: 1.1rem;
}
 .weather-container ul li .icon-container.thunderstorms .rain-drop:nth-child(even) {
	 left: 1.44rem;
}
 .weather-container ul li .icon-container.thunderstorms .rain-drop:first-child, .weather-container ul li .icon-container.thunderstorms .rain-drop:nth-child(2) {
	 top: 1.52rem;
	 transform: translate(0, 0) scale(0.25);
}
 .weather-container ul li .icon-container.thunderstorms .rain-drop:nth-child(3), .weather-container ul li .icon-container.thunderstorms .rain-drop:nth-child(4) {
	 top: 1.92rem;
}
 .weather-container ul li .icon-container.thunderstorms .shadow {
	 position: absolute;
	 top: 1.16rem;
	 left: 1.1rem;
	 height: 0.6rem;
	 width: 0.5rem;
	 clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
 .weather-container ul li .icon-container.fog-mist .mist {
	 transform: translate(-45%, -40%);
	 top: 50%;
	 left: 50%;
	 position: absolute;
}
 .weather-container ul li .icon-container.blizzard-weather .blizzard {
	 margin: 0.75rem auto 0;
}
 .weather-container ul li .icon-container.blizzard-weather .snow {
	 transform: scale(0.5);
	 background: white;
}
 .weather-container ul li .icon-container.blizzard-weather .snow:first-child {
	 position: absolute;
	 top: 0.64rem;
	 left: 1.84rem;
}
 .weather-container ul li .icon-container.blizzard-weather .snow:last-child {
	 position: absolute;
	 top: 1.34rem;
	 left: 1.52rem;
}
.sun, .moon {
	width: 2rem;
	height: 2rem;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.sun {
	background: #fdda3f;
	border-radius: 50%;
}
.cloud {
	width: 1rem;
    height: 1rem;
	background: #e9e9e9;
	border-radius: 0% 20% 20% 0%;
	position: relative;
}
.cloud.with-shadow .shadow {
	position: absolute;
	z-index: 10;
	width: 1rem;
	left: 0;
	top: -0.04rem;
	height: 0.7rem;
}
.cloud.with-shadow:before {
	z-index: 15;
	border-right: 0.04rem solid rgba(208, 208, 208, 0.1);
}
 .cloud:before, .cloud:after {
	 content: "";
	 position: absolute;
	 border-radius: 50%;
	 background: inherit !important;
}
 .cloud:before {
	 width: 150%;
	 height: 150%;
	 background: tomato;
	 bottom: 0;
	 left: -75%;
}
 .cloud:after {
	 width: 100%;
	 height: 100%;
	 background: orange;
	 right: -30%;
}
 .moon .moon-colour {
	 background-color: #cadcfc;
	 width: 100%;
	 height: 100%;
	 position: relative;
	 border-radius: 50%;
	 overflow: hidden;
}
 .moon .moon-mask {
	 position: absolute;
	 top: -0.5rem;
	 left: 0.9rem;
	 width: 100%;
	 height: 100%;
	 border-radius: 50%;
	 background: #46b7e0;
}
.rain-drop {
	width: 1rem;
	height: 1rem;
	background: #01e5ff;
	border-radius: 50%;
	position: relative;
}
.rain-drop:after {
	content: "";
	position: absolute;
	top: -10%;
	left: 50%;
	width: 50%;
	height: 50%;
	border-radius: 0.04rem;
	background: inherit;
	transform: translate(-50%, 0) rotate(45deg);
}
.snow {
	height: 0.8rem;
	width: 0.12rem;
	background: #bebebe;
	position: relative;
}
 .snow:before, .snow:after {
	 content: "";
	 position: absolute;
	 width: inherit;
	 height: inherit;
	 background: inherit;
	 left: 0;
}
 .snow:before {
	 transform: rotate(60deg);
}
 .snow:after {
	 transform: rotate(-60deg);
}
 .mist {
	 width: 2rem;
	 height: 2rem;
	 clip-path: inset(0 0.3rem 0 0.2rem);
}
 .mist .mist-line {
	 position: relative;
}
 .mist .mist-line:after {
	 content: "";
	 display: table;
	 clear: both;
}
 .mist .mist-line:nth-child(1) {
	 top: 0;
}
 .mist .mist-line:nth-child(2) {
	 top: -0.12rem;
}
 .mist .mist-line:nth-child(3) {
	 top: -0.24rem;
}
 .mist .mist-line:nth-child(4) {
	 top: -0.36rem;
}
 .mist .mist-line:nth-child(5) {
	 top: -0.48rem;
}
 .mist .mist-line > div {
	 width: 0.32rem;
	 height: 0.17rem;
	 border-radius: 50%;
	 float: left;
	 border: 0.12rem solid #e3e3e3;
	 margin-left: -0.14rem;
}
 .mist .mist-line > div:nth-child(even) {
	 clip-path: inset(0 0 50% 0);
	 margin-top: 0.12rem;
}
 .mist .mist-line > div:nth-child(odd) {
	 clip-path: inset(50% 0 0 0);
}
 .lightning {
	 width: 0;
	 height: 1rem;
	 position: relative;
}
 .lightning:before, .lightning:after {
	 content: "";
	 position: absolute;
	 height: 0;
	 width: 0;
	 border-right: 0.44rem solid transparent;
	 border-bottom: 0.7rem solid transparent;
	 border-top: 0.7rem solid #ffae46;
	 border-left: 0.44rem solid #ffae46;
}
 .lightning:before {
	 transform: rotate(180deg);
	 top: -0.8rem;
	 left: -0.48rem;
}
 .blizzard {
	 width: 1.3rem;
}
 .blizzard .blizzard-line {
	 width: 1.1rem;
	 height: 0.14rem;
	 position: relative;
	 background: #e3e3e3;
}
 .blizzard .blizzard-line:before {
	 content: "";
	 position: absolute;
	 top: 0.26rem;
	 left: calc(100% - 0.1rem);
	 width: 0.08rem;
	 height: 0.14rem;
	 background: #e3e3e3;
}
 .blizzard .blizzard-line:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 right: -0.2rem;
	 width: 0.4rem;
	 height: 0.4rem;
	 border-radius: 50%;
	 border: 0.14rem solid #e3e3e3;
	 clip-path: inset(0 0 0 45%);
}
 .blizzard .blizzard-line:first-child {
	 width: 0.56rem;
	 transform: scaleY(-1);
	 margin-bottom: 0.08rem;
}
 .blizzard .blizzard-line:last-child {
	 width: 0.3rem;
	 margin-top: 0.08rem;
}
 .rain-snow {
	 width: 1rem;
	 height: 1rem;
	 background: #a2a1a1;
	 border-radius: 50%;
}
 .sleet {
	 width: 0.08rem;
	 background: #e3e3e3;
	 transform: rotate(45deg);
}
.shadow {
	width: 2rem;
	height: 2rem;
	background-image: linear-gradient(rgba(66, 66, 66, 0.1) 0%, transparent 100%);
	transform: skewX(45deg);
}
 