
/* file-specific styling */

.q_Info h5.cr, #key-sm {
    position: relative;
}

.q_Info h5.cr, #stats h5, #stats h6 {
    display: inline-block;
}

.q_Info h5.cr, #stats h6 {
    margin-left: 0.5em;
}

#ham_C {
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
}

#ham_sc a {
    display: block;
    padding: 1rem 0;
    text-align: center;
}
/*
#h_tint {
    background-color: rgba(48, 48, 48, 0);
}

#hamburger_button {
    width: 2.5rem;
    height: 1.85rem;
    padding: 1.575rem 1.25rem; /* adds to 5rem of width/height dimensions 
    margin-left: calc(100vw - (5rem + 1.5rem)); /*marginalised to the right - within 1.5rem of viewport edge 
}

#hamburger_button .stroke {
    width: 2.5rem;
    height: 0.35rem;
    margin-bottom: .4rem;
}*/

#profile_image {
    width: 18rem;
    height: 18rem;
}

#intro_sc .logo-hybrid {
    height: 2.8rem;
}

#link_3 {
    width: 2.8rem;
}

#link_3b {
    width: 0.15rem;
    top: 1rem;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

#chev_d {
    bottom: 1.6em;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
}

.c_Info h5 {
    line-height: 0.9em;
}

.q_Info h5.cr {
    top: -0.15em;
}

.q_Info h6 {
    font-size: 0.9rem;
    margin-left: 3rem;
}

.q_Info > div {
    margin-bottom: 1.5rem;
}

#profile_btn {
    width: 40vw;
    margin-left: 40vw;
    margin-bottom: .5rem;
}

#stats {
    margin-top: calc(50vh - 8.5rem);
}

#stats h5 {
    font-weight: bold;
    width: 2.5em;
    text-align: right;
}

#link_1 {
    height: calc(50vh - 7rem);
    left: auto;
    right: -10rem;
}

#link_2 {
    height: calc(50vh - 10.5rem);
    left: 4.8rem;
}

#key-sm {
    top: -0.15rem;
    margin-left: 0.2em;
    margin-right: 0.1em;
}

.bg-circles div {
    height: 80px;
    width: 80px;
}

.bg-circles .circle-1 {
    left: 30%;
    top: 50%;
    animation: bounceTop 5s ease-in-out infinite;
}