
/* file-specific styling */

#intro_sc .head {
    height: 5rem; 
    padding-top: 2rem;
}

#hamburger_button {
    width: 2.5rem;
    height: 1.85rem;
    padding: 1.575rem 1.25rem; /* adds to 5rem of width/height dimensions */
    margin-left: calc(100vw - (5rem + 1.5rem)); /*marginalised to the right - within 1.5rem of viewport edge */
    z-index: 500;
}

#hamburger_button .stroke {
    width: 2.5rem;
    height: 0.35rem;
    background: #303030;
    margin-bottom: .4rem;
}

#profile_image, #intro_sc .content {
    margin-top: calc((100vh - 27.5rem) / 5);
}

#profile_image {
    width: 18rem;
    height: 18rem;
    background-image: url("../jpg/ivan_profile.jpg");
}
/*
#intro_sc .content {
    margin-top: calc((100vh - 32rem) / 3);
}*/

#intro_sc .logo-hybrid {
    height: 2.8rem;
}