
/* file-specific styling */

#ham_sc {
    position: fixed;
    z-index: 400;
}

#hamburger_button {
    width: 2.5rem;
    height: 1.85rem;
    padding: 1.575rem 1.25rem; /* adds to 5rem of width/height dimensions */
    margin-left: calc(100vw - (5rem + 1.5rem)); /*marginalised to the right - within 1.5rem of viewport edge */
    z-index: 500;
}

#hamburger_button .stroke {
    width: 2.5rem;
    height: 0.35rem;
    margin-bottom: .4rem;
}

#intro_sc .head {
    height: 5rem; 
    padding-top: 2rem;
}

#profile_image, #intro_sc .content {
    margin-top: calc((100vh - 27.5rem) / 5); /* 27.5rem is approx. height of .head, #profile_image & .content */
}

#profile_image {
    width: 18rem;
    height: 18rem;
    background-image: url("../jpg/ivan_profile.jpg");
}

#intro_sc .logo-hybrid {
    height: 2.8rem;
}

#lead_sc h5.d_i {
    border-bottom: 0.2rem solid #FFF;
    line-height: 0.9em;
}

#lead_sc .lead_arrow_forward_w_img {
    top: 0.3rem;
    transform: rotate(315deg);
}