
:root {
    --connected-color : #FFF;
    --disconnected-color : #FFF;
}

@media screen and (pointer: fine) {
    .trsButtons:not(.active), .resBtn:not(.active), .cursor:not(.active):not(.noimg), .hashtag, .timestamp, a:not(.active) {
        cursor: pointer;
    }

    .videoInfoBtns {
        cursor: pointer !important;
    }

    .trsButtons:not(.active):hover, .resBtn:not(.active):hover, .timestamp:hover, a:hover {
        opacity: 0.75;
    }
}

.hashtag, .timestamp, .email-link, .phone-link, .mention-link {
    color: #0073e6; /* Blue color */
    font-weight: bold;
} 

video {
    will-change: filter;
    transition: filter ease-out .2s;
}

video.secondary, video.primary {
    transition-duration: 3s;
}

video.primary {
    position: absolute;
    /*
    background: linear-gradient(
        180deg, 
        rgba(0, 0, 0), 
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0) 
    );*/
    /*
    background: linear-gradient(
        120deg, /* Diagonal gradient 
        rgba(255, 0, 100, 0.3), /* Pinkish tint 
        rgba(0, 150, 255, 0.3), /* Bluish tint 
        rgba(0, 0, 0, 0.5) /* Subtle dark tint 
    );
    backdrop-filter: blur(10px); /* For a softer effect */
}

video.secondary {
    position: absolute;
    z-index: -1;
}

@media screen and (orientation: landscape) {
    /*
    video.primary {
        background: linear-gradient(
            90deg, 
            rgba(0, 0, 0), 
            rgba(0, 0, 0, 0), 
            rgba(0, 0, 0) 
        );
    }*/
    /*
    video.secondary {
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
    }*/

    .loaderDots {
        left: 10.5rem !important;
    }

    div.thumbnail {
        height: 10rem !important;
    }

    div.thumbnailIconWrap {
        padding: 2.5rem 0 !important;
    }
}

video.seeking {
    filter: brightness(0.8);
}

#videoControls {
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.8) 100%);*/
    background: rgba(0,0,0,0.5);
}

#loadingRing, #playPauseButton {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    /*background-color: rgba(0, 0, 0, 0.25);*/
}

#playPauseButton {
    padding: 3rem 0.5rem;
    background-color: transparent;
}

.trsButtons:not(.noimg):active .img {
    transform: scale(0.9);
}

.trsButtons:not(.active):active, .resBtn:not(.active):active, .trsButtons.cursor:not(.active):active {
    transform: scale(0.9);
}

/*
#videoControls .trsButtons {
    cursor: pointer;
}*/

#loadingRing {
    display: none;
}

#loadingRing .circle {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: 0.2rem transparent solid;
    border-top-color: #FFF;
    animation: buffering .65s infinite linear;
}

@keyframes buffering {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(360deg);
    }
}

#playPauseButton .img { /* play button */
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/play.svg");
    width: 2rem;
    height: 2rem;
}

#playPauseButton.playing .img { /* pause button */
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/pause.svg");
}

#playPauseButton.repeat .img, .replay .img { /* replay button */
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/replay.svg");
}

.radio .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/radio.svg");
}

.nextSpan {
    background: var(--predicate_col);
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

.autoResBtn {
    width: 3rem !important;
    margin-right: 1rem !important;
}

.videoInfoBtns {
    padding: 0.5rem;
    margin-right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #3f3f3f;
    margin-right: 0.5rem;
}

.videoInfoBtns.active, #infoContainer .head .cursor.active {
    background-color: #606060;
}

.videoInfoBtns .img {
    width: 1.25rem;
    height: 1.25rem;
}

.cast .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/cast.svg");
}

.cast_connected .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/cast_connected.svg") !important;
}

google-cast-launcher.disabled, .disabled {
    pointer-events: none;
}

.otherResBtn.disabled {
    opacity: 0.25;
}

.controlButton {
    width: 1.25rem;
    height: 1.25rem;
}

#seekForwardButton, #seekBackwardButton, #skipPreviousButton, #skipForwardButton {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
}

#skipPreviousButton, #skipForwardButton {
    padding: 1.5rem 1rem;
}

#skipPreviousButton {
    left: calc(5.45rem + calc(env(safe-area-inset-left)));
}

#skipForwardButton {
    right: calc(5.45rem + calc(env(safe-area-inset-right)));
}

#seekControls {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-flex;
    margin-right: calc(0.2rem + calc(env(safe-area-inset-right)));
}

#videoInfo {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    padding-top: 1.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-top: calc(env(safe-area-inset-top));
    margin-left: calc(env(safe-area-inset-left));
    margin-right: calc(env(safe-area-inset-right));
    opacity: 1;
}

#videoInfo h5 {
    height: 1.5rem;
    font-size: 1.2rem !important;
}

#videoInfo a {
    text-decoration: underline;
}

#videoInfo h5, #videoInfo p, .overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}

#videoInfo h5, #infoContainer h5, .resultTitle {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.4em;
    margin: 0;
    padding-top: 0.2em;
}

#videoInfo p {
    padding-bottom: 0.2em;
    padding-top: 0.1em;
    height: 1.2rem;
    font-size: 1rem;
}

a.url {
    display: inline-flex;
    height: 1rem;
    background: #3f3f3f;
    padding: 0.4rem 0.4rem;
    border-radius: 0.5rem;
    position: relative;
    top: 0.4rem;
    width: fit-content;
    padding-right: 0.75rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
}

a.url .img {
    /*background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/open.svg");*/
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: -0.1rem;
}

a.url .img.link {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/link.svg");
    margin-left: 0.5rem;
}

a.url.youtube .img {
    background-size: contain;
    width: 1.5rem;
    top: 0.015rem;
}

a.url.youtube .img.link {
    top: -0.075rem;
}

a.url span {
    margin-left: 0.4rem;
    position: relative;
    top: -0.3rem;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 15rem;
}

a.noUnderline {
    text-decoration: none;
}

#videoInfo .textStuff {
    /*
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
    width: calc(100vw - 1.2rem - 1.2rem - 2.5rem - calc(env(safe-area-inset-left)) - calc(env(safe-area-inset-right)));
    height: 3.5rem;
    display: inline-block;
}

#videoInfo .infoOpener {
    width: 2.2rem;
    height: 3.5rem;
    display: inline-block;
}

#videoInfo .infoOpener .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/chevron.svg");
    width: 2rem;
    height: 2rem;
    margin: 0.75rem 0.35rem;
    margin-left: 0.9rem;
}

.seekButton {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
}

#fitscreenButton {
    display: none;
}

@media screen and (orientation: landscape) {
    #fitscreenButton {
        display: block;
    }

    #infoContainer.openInfo {
        box-shadow: -0.21rem 0px 0.53rem rgba(0, 0, 0, 0.2);
    }
}

#skipPreviousButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/skip_previous.svg");
}

#fitscreenButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/fitscreen.svg");
}

#settingsButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/settings.svg");
}

#searchButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/search.svg");
}

#fullscreenButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/fullscreen.svg");
}

#fullscreenButton .img.exit {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/fullscreen_exit.svg");
}

#pipButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/pip.svg");
}

#pipButton .img.exit {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/pip_exit.svg");
}

#statusIndicator div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

#statusIndicator div.error {
    background-color: var(--negate_col);
    border: 0.125rem solid #FFF;
}

#statusIndicator div.buffer {
    background-color: var(--buffer_col);
    border: 0.125rem solid #FFF;
}

#statusIndicator div.smooth {
    background-color: var(--predicate_col);
    border: 0.125rem solid #FFF;
}

.seekText {
    color: #FFF;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    opacity: 0;
    top: 1.5rem;
    top: calc(50% - 1.5rem - 1.3rem);
    margin-top: calc(env(safe-area-inset-top));
}

.seekText.show {
    opacity: 1;
}

.seekText.forward {
    right: 1.2rem;
    margin-right: calc(env(safe-area-inset-right));
}

.seconds {
    padding: 0.3rem 0.4rem 0.2rem;
    border-radius: 0.3rem;
    margin-left: 0.2rem;
    width: 2rem;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.seconds .digit {
    display: inline-block;
    width: 0.05rem;
}

.seekText.forward .seconds {
    background: var(--predicate_col);
}

.seekText.backward {
    left: 1.2rem;
    margin-left: calc(env(safe-area-inset-left));
}

.seekText.backward .seconds {
    background: var(--negate_col);
}

#seekForwardButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/seek.svg");
}

#seekBackwardButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/rewind.svg");
}

#seekForwardButton, #seekBackwardButton, #skipPreviousButton, #skipForwardButton {
    top: 50%;
    transform: translateY(-50%);
}

#seekForwardButton {
    right: 0;
    padding: 1.5rem 1.2rem;
    padding-left: 3rem;
    margin-right: calc(env(safe-area-inset-right));
}

#seekBackwardButton {
    left: 0;
    padding: 1.5rem 1.2rem;
    padding-right: 3rem;
    margin-left: calc(env(safe-area-inset-left));
}

/*
#videoCurrentTime, p.duration, p.durationDiv {*/
.timestamps {
    color: #FFF;
    bottom: 0.75rem;
    position: absolute;
    padding: 0;
    left: 1.2rem;
    font-size: 1rem;
    margin-left: calc(env(safe-area-inset-left));
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.timestamps p {
    display: inline-block;
    padding: 0;
    font-size: 1rem;
}

.placeholder-error::placeholder {
    color: #A10000;
}

.inputError {
    display: none;
    font-size: 1rem;
    margin-bottom: 0.5em;
    color: #ff0000;
    font-weight: bold;
}

div.thumbnailIconWrap {
    width: 100%;
    height: 5rem;
    background: rgba(0,0,0,0.5);
    padding: 3rem 0;
    border-radius: 0.5rem;
}

div.thumbnailIcon {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}

/*
#videoCurrentTime, #seekControls {*/
.timestamps, #seekControls {
    margin-bottom: calc(env(safe-area-inset-bottom));
}

#videoProgressBar, #videoLoadProgressBar, #videoBarPlaceholder, #videoScrub {
    background-color: #A10000;
    position: absolute;
    bottom: 2.75rem;
    left: calc(1.2rem + calc(env(safe-area-inset-left)));
    height: 0.15rem;
    width: calc(100% - 1.2rem - 1.2rem - calc(env(safe-area-inset-right)) - calc(env(safe-area-inset-left)));
    /*
    margin-left: calc(env(safe-area-inset-left));
    margin-right: calc(env(safe-area-inset-right));*/
    will-change: transform, left, right;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: all ease-in-out .3s;
    z-index: 10;
}

#videoScrub {
    /*width: 0.8rem;
    height: 0.8rem;*/
    transform: none;
    border-radius: 50%;
    /*bottom: 2.4375rem;*/
    left: calc(0.8rem + calc(env(safe-area-inset-left)));
    /*bottom: 2.4465rem;*/
    transform: scale(0);
    transform-origin: center;
    bottom: 2.3965rem;
    width: 1rem;
    height: 1rem;
}

#videoBarPlaceholder {
    background-color: #ffffff1f;
    z-index: 2;
    transform: scale(1);
}

#videoLoadProgressBar {
    background-color: #C5C6D0;
    z-index: 5;
}

#infoContainer {
    position: absolute;
    width: 100vw;
    height: 100svh;
    z-index: 10;
    background-color: #303030;
    color: #FFF;
    transform: translateX(100%);
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
}

@media screen and (orientation: landscape) {
    #infoContainer, #infoContainer .head {
        width: calc(21rem + calc(env(safe-area-inset-left)) + calc(env(safe-area-inset-right))) !important;
    }
}

.videoTitle.textReset {
    height: 5rem;
    background: #3f3f3f;
    border-radius: 0.5rem;
    margin-bottom: 1rem !important;
}

.channelTitle.textReset {
    height: 2rem;
    border-radius: 0.5rem;
    background: #3f3f3f;
}

.category.textReset {
    height: 2rem;
    border-radius: 0.5rem;
    width: 50%;
    background: #3f3f3f;
}

.cI p.textReset {
    height: 2rem;
    background: #3f3f3f;
    border-radius: 0.5rem;
    width: 90%;
    margin-bottom: 0.5rem;
}

#infoContainer .head {
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 1.75rem;
    padding-bottom: 1rem;
    padding-right: calc(env(safe-area-inset-right));*/

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(0.53rem);
    background: rgba(48, 48, 48, 0.7);
}

#infoContainer .headSec {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 1.75rem;
    padding-bottom: 1rem;
    padding-right: calc(env(safe-area-inset-right));
}

#infoContainer .head .cursor {
    height: 2rem;
    width: 3rem;
    padding: 0.75rem 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: calc(env(safe-area-inset-top));
    border-radius: 0.5rem;
    background-color: #3f3f3f;
}

div.badge {
    background-color: #A10000 !important;
}

.keywords p, .keywordsBtn p {
    font-weight: bold;
}

#infoContainer .homeBtn .img { 
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/home.svg");
    margin-left: calc(env(safe-area-inset-left));
}

#infoContainer .trendingBtn .img { 
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/trending.svg");
}

#infoContainer .searchBtn .img { 
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/search.svg");
}

#infoContainer .infoBtn .img { 
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/info.svg");
}

#infoContainer .head .cursor .img {
    width: 2rem;
    height: 2rem;
    /*
    margin-right: 0.35rem;
    margin-left: calc(100% - 0.9rem - 2rem + 0.35rem); */
    margin: 0 auto;
}

#infoContainer .closeBtn .img {
    background-image: url("https://ivansojivarghese.github.io/media-sphere/svg/close.svg");
    margin-right: calc(env(safe-area-inset-right));
}

#infoContainer .wrapper {
    width: calc(100% - 1.2rem - 1.2rem - calc(env(safe-area-inset-right)));
    padding: 0 1.2rem;
    margin-top: calc(7rem + calc(env(safe-area-inset-top)));
    display: none;
}

#infoContainer h5.videoTitle {
    line-height: 1.5em;
}

#infoContainer p.channelTitle, .resultChannelTitle {
    padding: 0;
    padding-bottom: 0.2em;
    line-height: 1.25em;
    margin-bottom: 1em;
}

p.category {
    margin-bottom: 1.5em;
}

.criticalInfo p {
    margin-bottom: 0.5em;
}

p.category, .criticalInfo p, .resolutions p {
    font-size: 1rem;
    padding-right: 0;
    padding-bottom: 0.2em;
    line-height: 1.25em;
}

.criticalInfo div {
    display: inline-block;
    width: 60%;
}

.criticalInfo .cI:nth-child(2) {
    float: right;
    width: 40%;
}

.criticalInfo {
    margin-bottom: 1rem;
}

.resBtn {
    padding: 0.5rem;
    background-color: #3f3f3f;
    border-radius: 0.5rem;
    width: 4rem;
    text-align: center;
    font-weight: bold;
    margin-right: 1.25rem;
}

.resBtn.active {
    background-color: #606060;
}

.resBtn p, .keywords p, .description p {
    padding: 0;
    font-size: 1rem;
    line-height: 1.25rem;
}

p.autoResLive {
    padding-bottom: 0;
}

.autoRes {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.otherRes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.otherResBtn {
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

p.duration {
    left: 3rem;
}

p.durationDiv {
    left: 2rem;
}

.resolutions {
    margin-bottom: 1.5rem;
}

.keywords, div.wrapper.search div.refinements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.keywordsBtn {
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-weight: normal;
    width: auto;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin-bottom: 3rem;
}

.description p {
    line-height: 1.75em;
}

.wrapper.search .searchPath {
    display: flex;
    margin-top: 1rem;
}

.wrapper.search .searchPath .resBtn {
    height: 2rem;
}

.wrapper.search .searchPath .resBtn p {
    line-height: 1rem;
}

.wrapper.search input {
    width: calc(100% - 2.4rem - 3rem);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    color: #303030;
    background-color: #F6F6F6;
    font-weight: bold;
    padding-right: 3rem;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}  

.clear-btn {
    color: #303030;
    transform: translate(-2.4rem, 1.1rem);
    font-size: 1.75rem;
    position: absolute;
    font-weight: bolder;
    background: #F6F6F6;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 50%;
}

.wrapper.search input[type="submit"] {
    color: #FFF;
    /*width: 6rem;*/
    padding: 0;
    margin-top: 1rem;
    background-color: #A10000 !important;
    margin-bottom: 2rem;
    width: calc(100% - 1.4rem);
    font-size: 1.2rem;
    height: 3rem;
}

select {
    font-size: 1rem;
    font-weight: bold;
    color: #303030;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    margin-bottom: 0.5rem;
}

select:focus-visible {
    outline: none;
}

.searchOptions p {
    padding: 0;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

div.results div.result_wrapper {
    width: 100%;
    margin-bottom: 3rem;
}

div.result_wrapper div.badges_row {
    display: flex;
}

div.badge, div.resultText {
    height: 1rem;
}

div.thumbnail {
    height: 11rem;
    border-radius: 0.5rem;
    background-position: center;
    margin-bottom: 1rem;
}

.resultTitle {
    font-size: 1.2rem !important;
    line-height: 1.25em;
    white-space: unset;
}

.resultChannelTitle {
    font-size: 1rem !important;
}

.wrapper .resultDuration, .wrapper .resultDate {
    font-size: 1rem !important;
}

.wrapper .resultDuration {
    float: left;
    letter-spacing: 0.1rem;
}

.wrapper .resultDate {
    float: right;
}

.searchOptions div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.loadingSpace {
    width: 100vw;
    height: 100svh;
    position: fixed;
    background: #303030;
    opacity: 0.85;
    z-index: 10;
    display: none;
}

.loaderDots {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#fff 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

  a.url.ko-fi {
    top: 0.15rem;
  }

  a.url.ko-fi .img {
    height: 1rem;
    top: 0.025rem;
  }