
#videoControls {
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.8) 100%);
}

#playPauseButton {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#playPauseButton .img { /* play button */
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/play.svg");
    width: 2rem;
    height: 2rem;
}

#playPauseButton.playing .img { /* pause button */
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/pause.svg");
}