
video.seeking {
    filter: brightness(0);
}

#videoControls {
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.8) 100%);
}

#playPauseButton {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#playPauseButton .img { /* play button */
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/play.svg");
    width: 2rem;
    height: 2rem;
}

#playPauseButton.playing .img { /* pause button */
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/pause.svg");
}

.controlButton {
    width: 1.25rem;
    height: 1.25rem;
}

#fullscreenButton, #pipButton, #seekForwardButton, #seekBackwardButton {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
}

#fullscreenButton {
    /*bottom: 0.75rem;
    right: 1.2rem;*/
    padding: 0.75rem 1.2rem 0.75rem 0.775rem;
    bottom: 0;
    right: 0;
}

#pipButton {
    /*bottom: 0.75rem;
    right: 4rem;*/
    padding: 0.75rem 0.775rem 0.75rem 1.2rem;
    bottom: 0;
    right: 3.225rem;
}

#fullscreenButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/fullscreen.svg");
}

#fullscreenButton .img.exit {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/fullscreen_exit.svg");
}

#pipButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/pip.svg");
}

#pipButton .img.exit {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/pip_exit.svg");
}

#seekForwardButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/seek.svg");
}

#seekBackwardButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/rewind.svg");
}

#seekForwardButton, #seekBackwardButton {
    top: 50%;
    transform: translateY(-50%);
}

#seekForwardButton {
    right: 0;
    padding: 1.5rem 1.2rem;
}

#seekBackwardButton {
    left: 0;
    padding: 1.5rem 1.2rem;
}