
#playPauseButton .img { /* play button */
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/play.svg");
    width: 2rem;
    height: 2rem;
}

#playPauseButton.playing .img { /* pause button */
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/pause.svg");
}