
video {
    will-change: filter;
    transition: filter ease-out .2s;
}

video.seeking {
    filter: brightness(0);
}

#videoControls {
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.8) 100%);*/
    background: rgba(0,0,0,0.5);
}

#loadingRing, #playPauseButton {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
}

#loadingRing {
    display: none;
}

#loadingRing .circle {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: 0.2rem transparent solid;
    border-top-color: #FFF;
    animation: buffering .65s infinite linear;
}

@keyframes buffering {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(360deg);
    }
}

#playPauseButton .img { /* play button */
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/play.svg");
    width: 2rem;
    height: 2rem;
}

#playPauseButton.playing .img { /* pause button */
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/pause.svg");
}

.controlButton {
    width: 1.25rem;
    height: 1.25rem;
}

#seekForwardButton, #seekBackwardButton {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
}

#seekControls {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-flex;
    margin-right: calc(0.2rem + calc(env(safe-area-inset-right)));
}

.seekButton {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
}

#fitscreenButton {
    display: none;
}

@media screen and (orientation: landscape) {
    #fitscreenButton {
        display: block;
    }
}

#fitscreenButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/fitscreen.svg");
}

#settingsButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/settings.svg");
}

#fullscreenButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/fullscreen.svg");
}

#fullscreenButton .img.exit {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/fullscreen_exit.svg");
}

#pipButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/pip.svg");
}

#pipButton .img.exit {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/pip_exit.svg");
}

.seekText {
    color: #FFF;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    opacity: 0;
    top: 1.5rem;
    margin-top: calc(env(safe-area-inset-top));
}

.seekText.show {
    opacity: 1;
}

.seekText.forward {
    right: 1.2rem;
    margin-right: calc(env(safe-area-inset-right));
}

.seekText.backward {
    left: 1.2rem;
    margin-left: calc(env(safe-area-inset-left));
}

#seekForwardButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/seek.svg");
}

#seekBackwardButton .img {
    background-image: url("https://ivansojivarghese.github.io/media-player/svg/rewind.svg");
}

#seekForwardButton, #seekBackwardButton {
    top: 50%;
    transform: translateY(-50%);
}

#seekForwardButton {
    right: 0;
    padding: 1.5rem 1.2rem;
    padding-left: 3rem;
    margin-right: calc(env(safe-area-inset-right));
}

#seekBackwardButton {
    left: 0;
    padding: 1.5rem 1.2rem;
    padding-right: 3rem;
    margin-left: calc(env(safe-area-inset-left));
}

#videoCurrentTime {
    color: #FFF;
    bottom: 0.75rem;
    position: absolute;
    padding: 0;
    left: 1.2rem;
    font-size: 1rem;
    margin-left: calc(env(safe-area-inset-left));
}

#videoCurrentTime, #seekControls {
    margin-bottom: calc(env(safe-area-inset-bottom));
}

#videoProgressBar, #videoLoadProgressBar, #videoBarPlaceholder {
    background-color: #A10000;
    position: absolute;
    bottom: 2.75rem;
    left: 50%;
    height: 0.15rem;
    /*width: 100%;*/
    width: calc(100% - 1.2rem - 1.2rem - calc(env(safe-area-inset-right)) - calc(env(safe-area-inset-left)));
    will-change: transform, left, right;
    transform-origin: -50%;
    transform: scaleX(0) translateX(-50%);
    transition: all ease-in-out .3s;
    z-index: 10;
}

#videoBarPlaceholder {
    
}

#videoLoadProgressBar {
    background-color: #C5C6D0;
    z-index: 5;
}